//
//  Dev.xcconfig
//  FAMILYFIRST
//
//  Created by Lifeboat on 14/01/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Dev.xcconfig
server_url = https:/$()/dev-api.familifirst.com
APP_BUNDLE_IDENTIFIER = com.paranpara.familifirst.dev
APP_NAME = FAMILYFIRST
APS_ENVIRONMENT = development
CASHFREE_ENVIRONMENT = SANDBOX
